html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color:#1F4B64;
    height: 100%;
    width: 100%;
    
 }


.haut {
    padding-top: 100px;
    height: 301px;
    width: 100%;
}
.haut p{
    height: 100%;
    width:100%;
    padding-top: 120px;
    font-size: 65px;
    font-weight: bolder;
    text-align: center;
}

.bloc {
    height: 370px;
    background-color: #00273A;
    width: 50%;
    margin: 0px auto;
    border-radius: 2px;
    box-shadow: 15px -15px 25px -15px  black;
    min-width: 620px;
    
}
.bloc h1{
    color: rgb(84, 147, 230);
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    height: 75px;
    margin-left: 3%;
}
.bloc p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.z{
    height:80px
}
footer{
    height: 80px;
    width: 100%;
    margin-top: 6.2%;
    background-color: #021018;
}

